html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#watermark {
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 12px;
    text-align: end;
}

.hidden {
    display: none;
}