:root {
    --main-background-color: #F9DAD0;
    --secondary-background-color: #F5F2B8;
    --outline-background-color: #C5DCA0;
    --main-text-color: #464B5A;
    --secondary-text-color: #6741C9;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 0px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#team-selection {
    position: absolute;
    top: 1%;
    right: 5%;
}

#filter-container {
    align-self: center;
}

.header-button {
    color: var(--secondary-text-color);
    width: fit-content;
}

.header-button:hover {
    transform: translate3d(0px, -0.15rem, 0px);
    cursor: pointer;
}

#display-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
    width: 99vw;
}

#employee-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 2000px;
    min-width: 250px;
    width: 250px;
}



.business-employee {
    width: 250px;
}

#watermark {
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 12px;
    text-align: end;
}

.hidden {
    display: none;
}

@media screen and (min-width: 500px) {
    #employee-cards {
        width: 500px;
    }
}

@media screen and (min-width: 750px) {
    #employee-cards {
        width: 750px;
    }
}

@media screen and (min-width: 1000px) {
    #employee-cards {
        width: 1000px;
    }
}

@media screen and (min-width: 1250px) {
    #employee-cards {
        width: 1250px;
    }
}


@media screen and (min-width: 1500px) {
    #employee-cards {
        width: 1500px;
    }
}

@media screen and (min-width: 1750px) {
    #employee-cards {
        width: 1750px;
    }
}
